body {
  padding: 20px 0px;
    
  }

  .forms-container {
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: center;
    height: 100vh;
    justify-content: space-between;
    width: 60%;
    /* padding-left: 23%; */
    margin-left: auto;
    margin-right: auto;
  }

  .form-section {
    width: 45%; /* Adjust width as needed */
    background-color: rgb(238, 238, 238);
    height: 350px;
    text-align: center;
  }

  /* Optional styling */
  h3 {
    margin-top: 0;
    background-color: rgb(118, 171, 174);
    height: 50px;
    vertical-align: middle;
    line-height: 50px;
  }

  input[type=text], select {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  input[type=password], select {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

input[type="submit"], .button {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    padding: 15px 30px;
    text-decoration: none;

}

input[type="submit"]:hover {
    background-color: #45a049;
  }