<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form action="/addMovie" method="post">
      <label for="name">Movie name:</label>
      <input type="text" id="name" name="name" /><br /><br />

      <label for="description">Description:</label>
      <input type="text" id="description" name="description" /><br /><br />

      <label for="cast">Cast:</label>
      <input type="text" id="cast" name="cast" /><br /><br />

      <label for="rating">Rating:</label>
      <input type="text" id="rating" name="rating" /><br /><br />

      <label for="duration">Duration:</label>
      <input type="text" id="duration" name="duration" /><br /><br />

      <input type="submit" value="Submit" />
    </form>

    <form action="/addScreen" method="post">
      <label for="rows">Rows:</label>
      <input type="text" id="rows" name="rows" /><br /><br />

      <label for="cols">Columns:</label>
      <input type="text" id="cols" name="cols" /><br /><br />

      <label for="theatre">Choose a theatre:</label>
      <select id="theatre" name="theatre">
        {% for theatre in theatres %}
        <option value="{{theatre.ID}}">{{theatre.name}}</option>
        {% endfor %}
      </select>

      <input type="submit" value="Submit" />
    </form>

    <form action="/addMovieShow" method="post">
      <label for="startTime">Start Time:</label>
      <input type="text" id="startTime" name="startTime" /><br /><br />

      <label for="endTime">End Time:</label>
      <input type="text" id="endTime" name="endTime" /><br /><br />

      <label for="date">Date:</label>
      <input type="text" id="date" name="date" /><br /><br />

      <label for="movie">Choose a movie:</label>
      <select id="movie" name="movie">
        {% for movie in movies %}
        <option value="{{movie.ID}}">{{movie.title}}</option>
        {% endfor %}
      </select>

      <label for="screen">Choose a screen:</label>
      <select id="screen" name="screen">
        {% for screen in screens %}
        <option value="{{screen.SID}}">
          {{screen.SID}} {{screen.theatre_name}}
        </option>
        {% endfor %}
      </select>
      <input type="submit" value="Submit" />
    </form>

    <form action="/addTheatre" method="post">
      <label for="name">Theatre name:</label>
      <input type="text" id="name" name="name" /><br /><br />

      <label for="operatingSince">operatingSince:</label>
      <input
        type="text"
        id="operatingSince"
        name="operatingSince"
      /><br /><br />

      <label for="latitude">latitude:</label>
      <input type="text" id="latitude" name="latitude" /><br /><br />

      <label for="longitude">longitude:</label>
      <input type="text" id="longitude" name="longitude" /><br /><br />

      <label for="address">address:</label>
      <input type="text" id="address" name="address" /><br /><br />

      <input type="submit" value="Submit" />
    </form>
  </body>
</html>
