<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    {% for movie in movies %}
    <div><button id="{{movie.ID}}" class="movies">{{movie.title}}</button></div>
    <h4>Cast: {{movie.cast}}</h4>
    <h5>Description: {{movie.description}}</h5>
    <h6>Duration: {{movie.duration}} minutes</h6>
    <h6>Rating: {{movie.rating}} minutes</h6>
    {% endfor %}
    <script src="..\static\js\homepage.js"></script>
  </body>
</html>
