<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Matrix of Buttons</title>
    <style>
      table {
        border-collapse: collapse;
        margin: 20px;
      }

      td {
        border: 1px solid black;
        padding: 10px;
      }

      button {
        width: 100%;
        height: 100%;
      }
    </style>
  </head>
  <body>
    <table>
      {% for i in range(row)%}
      <tr>
        {% for j in range(col) %}
        <td>
          {% if seatMatrix[i][j] == 0 %}
          <button id="{{ (i * col) + j }}" class="seats">0</button>
          {% else %} {{ seatMatrix[i][j] }} {% endif %}
        </td>
        {% endfor %}
      </tr>
      {% endfor %}
    </table>
    <script src="..\static\js\seats.js"></script>
  </body>
</html>
